.font-bold {
  font-weight: bold;
}

.vbottom {
  font-size: 0px;
}

.vbottom > [class^="col-"],
.vbottom > [class*=" col-"] {
  display: inline-block;
  vertical-align: bottom;
  float: none;
  font-size: 14px;
}

.vmiddle {
  font-size: 0px;
}

.vmiddle > [class^="col-"],
.vmiddle > [class*=" col-"] {
  display: inline-block;
  vertical-align: middle;
  float: none;
  font-size: 14px;
}

body {
  padding-top: 160px;
}

main {
  border-width: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 20px;
  padding: 4%;
}

