.font-bold {
  font-weight: bold;
}

.vbottom {
  font-size: 0px;
}

.vbottom > [class^="col-"],
.vbottom > [class*=" col-"] {
  display: inline-block;
  vertical-align: bottom;
  float: none;
  font-size: 14px;
}

.vmiddle {
  font-size: 0px;
}

.vmiddle > [class^="col-"],
.vmiddle > [class*=" col-"] {
  display: inline-block;
  vertical-align: middle;
  float: none;
  font-size: 14px;
}

body {
  padding-top: 160px;
  background-color: #E6B265;
}

main {
  border-width: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 20px;
  padding: 4%;
  background-color: #FFFFC1;
}

hr {
  border-color: black;
}

/* Medium display */
@media (min-width: 992px) {
  .border-right {
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: black;
  }

  .border-left {
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: black;
  }
}

